<footer>
    <div style="background-color: #F8F8F8;" class="footer-section pt-4">
        <!-- <div class="items-list pb-3">
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li class="pb-3"><h5>Title</h5></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">More <i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="pb-3"><h5>Title</h5></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">More <i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="pb-3"><h5>Title</h5></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">More <i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="pb-3"><h5>Title</h5></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">List item</p></li>
                        <li><a href="">More <i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="d-flex flex-row gap-3 pb-3">
            <h6>Social media</h6>
            <div class="footer-social">
                <a class="mx-2" href=""><i class="fa fa-instagram"></i></a>
                <a class="mx-2" href=""><i class="fa fa-facebook"></i></a>
                <a class="mx-2" href=""><i class="fa fa-linkedin"></i></a>
                <a class="mx-2" href=""><i class="fa-brands fa-tiktok"></i></a>
            </div>     
        </div>       
    </div>
    <div style="background-color: #EDEDED;" class="bottom-footer py-4">
        <div class="row">
            <div class="col-md-7">
                <span class="">AgriData Portal, 2023</span>
            </div>
            <div class="col-md-5 text-end">
                <a href="" class="" >Contract offer</a>
                <a href="" class="" style="padding-left: 5%;" >Privacy Policy</a>
            </div>
        </div>
        
    </div>
</footer>