@import url('https://fonts.cdnfonts.com/css/poppins');


* {
    font-family: 'Poppins';
    color: #010F41;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.bg-lightblue {
    background: #80B6FF;
}

.bg-blue-gradient-1 {
    background: #A7CCFF;
}

.bg-blue-gradient-2 {
    background: #CAE0FF;
}

.bg-blue-gradient-3 {
    background: #D4E7FF;
}

.bg-blue-gradient-4 {
    background: #EBF4FF;
}

/*-----------------------
        nav bar
----------------------*/

.topnav {
    overflow: hidden;
    background-color: #FFFFFF;
    padding-right: 7.57%;
    padding-left: 7.57%;
    height: 100px;
}

.topnav:hover {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.topnav a {
    float: left;
    display: flex;
    align-items: center;
    color: #010F41;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

/* .active {
    background-color: #04AA6D;
    color: white;
} */

.topnav .icon {
    display: none;
}

.drpdown {
    float: left;
    overflow: hidden;
    height: 100%;

}

.dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #010F41;

    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: 100%;
    font-weight: 600;
}

.drpdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #FFFFFF;
    min-width: 100%;
    box-shadow: 0px 3px 7px rgba(0, 66, 155, 0.3), 0px 16px 20px rgba(0, 66, 155, 0.2);
    z-index: 1;
    height: 80px;
    /* align-content: center; */
}

.nav-items-list {
    display: flex;
    justify-content: center;
}

/* .nav-items-list a {
    padding-left: 15px;
    padding-right: 15px;
} */

/* .items-list a{
    text-align: start;
    width: 200px;
} */

.drpdown-content a {
    color: #010F41;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

/* .topnav a:hover,
.drpdown:hover .dropbtn{
    border-bottom: 2px solid #005AD4;
} */
.hover:hover {
    border-bottom: 2px solid #005AD4;
}

.drpdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.drpdown:hover .drpdown-content {
    display: block;
}

.dropbtn:hover .fa-caret-down:before {
    content: '\f0d8'
}

.nav-right-menu {
    float: right;
    height: 100%;
}

.toggle i {
    font-size: 30px
}

.get-started {
    float: left;
    display: flex;
    align-items: center;
}

.get-started a {
    padding: 10px 32px;
    color: #00429B;
}

.get-started-btn {

    background-color: #D4E7FF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 66, 155, 0.25), 4px 5px 12px rgba(0, 66, 155, 0.3);

}

.get-started-btn:hover {
    background: #005AD4;
    color: #FFFFFF;
}

.margin-right {
    margin-right: 10px;
}


/*----------------------------*/

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 541px;
    left: 100px;
    top: 189px;
}

.collab-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 29px;

    position: absolute;
    width: 446px;
    height: 28px;
    left: 99px;
    top: 716px;
}

.feature-container {
    background: #D4E7FF;
}

.feature-container::-webkit-scrollbar {
    display: none;
}

.tool-info {
    background: #00429B;
    color: white;
}

.feature-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 126px;

    width: 1113px;
    height: 34px;
    overflow-x: scroll;
    overflow: hidden;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* .big-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 100px;
    color: #010F41;
}

.medium-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
} 

.small-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
} */

.text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #010F41;

    order: 1;
    flex-grow: 0;
}

.dark-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    height: 48px;
    background: #00429B;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 66, 155, 0.25), 4px 5px 12px rgba(0, 66, 155, 0.3);
    color: #FFFFFF;
}

.dark-btn:hover {
    color: #00429B;
    background: #D4E7FF;
}

.light-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #D4E7FF;
    border-radius: 12px;
    color: #00429B;
    padding: 10px 32px;
    border: none;
}

.agridata-logo {
    width: 83px;
    height: 44px;
}

.tech-image {
    position: absolute;
    width: 577px;
    height: 577px;
    left: 762px;
    top: 189px;
}


.white-text {
    color: #EBF4FF;
}

.blurred {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #8F8F8E;
}

.d-table {
    display: table !important;
}

.marquee {
    overflow-x: hidden;
}

.marquee-body {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
}

.marquee-section {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    overflow: hidden;
}

.marquee-hover-pause:hover * {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.animation-marquee-10 {
    -webkit-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite;
}

.animation-marquee-20 {
    -webkit-animation: marquee 20s linear infinite;
    animation: marquee 20s linear infinite;
}

.animation-marquee-30 {
    -webkit-animation: marquee 30s linear infinite;
    animation: marquee 30s linear infinite;
}

.animation-marquee-40 {
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
}

.animation-marquee-50 {
    -webkit-animation: marquee 50s linear infinite;
    animation: marquee 50s linear infinite;
}

.animation-marquee-60 {
    -webkit-animation: marquee 60s linear infinite;
    animation: marquee 60s linear infinite;
}

.animation-marquee-70 {
    -webkit-animation: marquee 70s linear infinite;
    animation: marquee 70s linear infinite;
}

.animation-marquee-80 {
    -webkit-animation: marquee 80s linear infinite;
    animation: marquee 80s linear infinite;
}

.animation-marquee-90 {
    -webkit-animation: marquee 90s linear infinite;
    animation: marquee 90s linear infinite;
}

.animation-marquee-100 {
    -webkit-animation: marquee 100s linear infinite;
    animation: marquee 100s linear infinite;
}

@-webkit-keyframes marquee {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes marquee {
    0% {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.bg-overlay-sides-white-to-transparent {
    position: relative;
}

.bg-overlay-sides-white-to-transparent:before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg,
            #D4E7FF,
            #d4e7ff7d,
            hsla(0, 0%, 10%, 0));
    z-index: 10;
}

.bg-overlay-sides-white-to-transparent:after {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg,
            hsla(0, 0%, 10%, 0),
            #d4e7ff7d,
            #D4E7FF);
    z-index: 10;
}

.btn-payment {
    box-sizing: border-box;
    left: 139.67px;
    top: 0px;
    background: rgba(255, 255, 255, 0.5);
    border: 0.663566px solid #FFFFFF;
    box-shadow: 1.25926px 2.51852px 3.77778px rgba(0, 66, 155, 0.25), 5.03704px 6.2963px 15.1111px rgba(0, 66, 155, 0.3);
    border-radius: 5.03704px;
    padding: 5px;
    text-decoration: none;
    pointer-events: none;
}

.btn-payment-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: #8F8F8E;
}

.btn-payment-orb {
    border: 2px solid #8F8F8E;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
    padding: 6px;
    position: relative;
    height: 8px;
    width: 8px;
    top: 0.15rem;
}

.btn-payment-active {
    box-sizing: border-box;
    left: 139.67px;
    top: 0px;
    background: #FFFFFF;
    border: 1.25926px solid #00429B;
    box-shadow: 1.25926px 2.51852px 3.77778px rgba(0, 66, 155, 0.25), 5.03704px 6.2963px 15.1111px rgba(0, 66, 155, 0.3);
    border-radius: 5.03704px;
    padding: 5px;
    text-decoration: none;
    pointer-events: none;
}

.btn-payment-orb-active {
    background-color: #FFFFFF;
    border: 2px solid #00429B;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
    padding: 6px;
    position: relative;
    height: 8px;
    width: 8px;
    top: 0.15rem;
}

.btn-payment-orb-active::after {
    background-color: #00429B;
    border-radius: 50%;
    content: " ";
    height: 8px;
    width: 8px;
    left: 2px;
    top: 2.15px;
    position: absolute;
}

.btn-payment-text-active {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: #00429B;
}

.img-box {
    background: rgba(255, 255, 255, 0.5);
    border: 0.663566px solid #FFFFFF;
    box-shadow: 2px 3px 7px rgba(0, 66, 155, 0.3), 10px 16px 20px rgba(0, 66, 155, 0.2);
    border-radius: 10px;
}

.report {
    position: relative;
    z-index: 0;
}

.report-2 {
    position: absolute;
    top: -70px;
    z-index: 1;
}

.report-arrow-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #EFEFEF;
    box-shadow: 1px 2px 3px rgba(0, 66, 155, 0.25), 4px 5px 12px rgba(0, 66, 155, 0.3);
    border-radius: 8px;
    border: none;
    z-index: 10;
}

.report-pagination {
    width: 13.9px;
    height: 13.9px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 50%;
}

.report-pagination-active {
    width: 13.9px;
    height: 13.9px;
    background: #005AD4;
    border-radius: 50%;
}

.text-box-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    width: 485px;
    height: 565px;
    border: 2px solid #2A85FF;
}

.text-box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    height: 391px;
    background: #2A85FF;
    border: 1px solid #2A85FF;
    border-radius: 20px;
}

.btn-green {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    color: #fff;

    font-weight: 600;
    width: 224px;
    height: 48px;
    background: #ADC762;
    border-radius: 12px;
    border: 1px solid #FFF;
    box-shadow: 4px 5px 5px 0px #ffffff30;
}

.btn-green:hover {
    background: #bcd17f;

}

.sec-nav-btn-active {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #D4E7FF;
    border-radius: 12px;
    color: #00429B;
    padding: 10px 32px;
    border: none;
}

.sec-nav-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background: #005AD4;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 5px 25px;
    border: none;
    text-decoration: none;
}

.active {
    color: #00429B;
    background: #D4E7FF;
}

.learn-more {
    text-decoration: underline;
    font-weight: 600;
    color: #010F41;
}

.learn-more:hover {
    color: #2A85FF;
    text-decoration: underline;
}

/*-------------------------
        Footer section
--------------------------*/

.footer-section {
    padding-left: 7%;
    padding-right: 1%;
}

.footer-social {
    font-size: 20px;
}

.bottom-footer {
    padding-left: 7%;
    padding-right: 7%;
}

.bottom-footer span {
    color: #5C5C5C;
}

.bottom-footer a {
    color: #5C5C5C;
    justify-items: flex-end;
    text-decoration: none;
}

.carousel-rotate {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 350px;
    padding: 0px !important;
    overflow: hidden;
    width: 100%;
}

.carousel-1 {
    width: 32%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    order: 0;
}

.carousel-2 {
    width: 32%;
    height: 45%;
    object-fit: cover;
    border-radius: 15px;
    padding-bottom: 12px;
    order: 1;
}

.carousel-3 {
    width: 32%;
    height: 55%;
    object-fit: cover;
    border-radius: 15px;
    order: 2;
}

.carousel-4 {
    width: 32%;
    height: 30%;
    object-fit: cover;
    border-radius: 15px;
    padding-bottom: 12px;
    order: 3;
}

.carousel-5 {
    width: 32%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
    order: 4;
}

/* 31524 */
.single-slide[data-order="1"] {
    width: 32%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    order: 1;
    /* animation: myfirst 5s 1;
    animation-direction: normal; */
}

@keyframes myfirst {
    0% {
        transform: translate(0, 0);
    }

    25% {
        height: 55%;
        padding-bottom: 0px;
        transform: translate(104%, 82%);
    }

    50% {
        height: 55%;
        padding-bottom: 0px;
        transform: translate(104%, 82%);
    }

    75% {
        height: 55%;
        padding-bottom: 0px;
        transform: translate(104%, 82%);
    }

    100% {
        height: 55%;
        padding-bottom: 0px;
        transform: translate(104%, 82%);
    }
}

/* Middle slide */
.single-slide[data-order="2"] {
    width: 32%;
    height: 45%;
    object-fit: cover;
    border-radius: 15px;
    padding-bottom: 12px;
    order: 2;

    /* animation: mysecond 5s 1;
    animation-direction: normal; */
}


@keyframes mysecond {
    0% {
        transform: translateX(0);
    }

    25% {
        height: 104%;
        padding-bottom: 0px;
        transform: translate(-100%, 0);
    }

    50% {
        height: 104%;
        padding-bottom: 0px;
        transform: translate(-100%, 0);
    }

    75% {
        height: 104%;
        padding-bottom: 0px;
        transform: translate(-100%, 0);
    }

    100% {
        height: 104%;
        padding-bottom: 0px;
        transform: translate(-100%, 0);
    }
}

/* Right slide*/
.single-slide[data-order="3"] {
    width: 32%;
    height: 55%;
    object-fit: cover;
    border-radius: 15px;
    order: 3;

    /* animation: mythird 5s 1;
    animation-direction: normal; */
}

@keyframes mythird {
    0% {
        transform: translateX(0);
    }

    25% {
        height: 70%;
        padding-bottom: 0px;
        transform: translate(10%, 43%);
    }

    50% {
        height: 70%;
        padding-bottom: 0px;
        transform: translate(10%, 43%);
    }

    75% {
        height: 70%;
        padding-bottom: 0px;
        transform: translate(10%, 43%);
    }

    100% {
        height: 70%;
        padding-bottom: 0px;
        transform: translate(10%, 43%);
    }
}

.single-slide[data-order="4"] {
    width: 32%;
    height: 30%;
    object-fit: cover;
    border-radius: 15px;
    padding-bottom: 12px;
    order: 4;

    /* animation: myfourth 5s 1;
    animation-direction: normal; */
}

@keyframes myfourth {
    0% {
        transform: translateX(0);
    }

    25% {
        height: 45%;
        padding-bottom: 0px;
        transform: translate(-195%, 0);
    }

    50% {
        height: 45%;
        padding-bottom: 0px;
        transform: translate(-195%, 0);
    }

    75% {
        height: 45%;
        padding-bottom: 0px;
        transform: translate(-195%, 0);
    }

    100% {
        height: 45%;
        padding-bottom: 0px;
        transform: translate(-195%, 0);
    }
}

.single-slide[data-order="5"] {
    width: 32%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
    order: 5;

    /* animation: myfifth 5s 1;
    animation-direction: normal; */
}

@keyframes myfifth {
    0% {
        height: 30%;
        transform: translateX(0);
    }

    25% {
        height: 30%;
        padding-bottom: 0px;
        transform: translate(-90%, -150%);
    }

    50% {
        height: 30%;
        padding-bottom: 0px;
        transform: translate(-90%, -150%);
    }

    75% {
        height: 30%;
        padding-bottom: 0px;
        transform: translate(-90%, -150%);
    }

    100% {
        height: 30%;
        padding-bottom: 0px;
        transform: translate(-90%, -150%);
    }
}

.f-w-24 {
    width: 6rem !important;
}


/*------------------------------
        ABOUT US
----------------------------*/
.about-us-top {
    padding-bottom: 5%;
}

.about-us-header {
    padding-top: 89px;
    padding-left: 6.94%;
    width: 75%;
    background-color: #F8F8F8;
}

.about-us-header h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
}

.about-us-header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.about-us-content img {
    z-index: -1;
}

.about-us-box {
    margin-left: 6.94%;
    margin-right: 6.94%;
    padding-top: 30%;
}

.about-us-box-content {
    padding: 6.25%;
    background-color: #F1F7FF;
}

.about-us-box-content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.about-us-box-content p {
    padding-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
}

.about-us-journey {
    margin: 8%
}

.about-us-journey-right {
    padding: 7%;
}

.about-us-journey-right h2 {
    font-size: 59px;
}

.about-us-journey-right p {

    font-size: 18px;

}

.about-us-slide {
    background-color: #D4E7FF;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;
}

.slide-description {
    padding-top: 10%;
}

.about-us-slide p {
    padding-bottom: 25px;
}

.about-us-slide h1 {
    padding-bottom: 25px;
}

.about-us-slide h2 {
    padding-bottom: 25px;
}

.about-us-slide-img {
    padding-top: 7%;
}



.button-arrow {
    padding-bottom: 3%;
}

/* .about-us-journey img {
    height: 100%;
    width: auto;
} */

.about-us-team {
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
}

.about-us-team h1 {
    font-size: 56px
}

.about-us-profile {
    overflow-x: hidden;
    padding-left: 100px;
    padding-right: 100px;
}

.about-us-card h5 {
    color: #005AD4;
}

.about-us-card p {
    color: #005AD4;
}

.swiper {
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.profile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #2A85FF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.profile-social {
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.social-media-icon {
    display: inline-flex;
    display: -ms-inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #005AD4;
    font-size: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    opacity: 0;
    gap: 5%;
}

.profile-social a {
    margin-left: 5px;
    margin-right: 5px;
}

.profile-social i {
    color: #F1F7FF;
}

.profile-image {
    position: relative;
}

.profile-image:hover .profile-overlay {
    opacity: 0.7;
}

.profile-image:hover .social-media-icon {
    opacity: 1;
}

.sticky-top {
    top: -1px !important;
}

/*-------------------------
        Footer section
--------------------------*/

.footer-section {
    padding-left: 8%;
    padding-right: 1%;
}

.footer-social {
    font-size: 20px;
}

.bottom-footer {
    padding-left: 8%;
    padding-right: 8%;
}

.bottom-footer span {
    color: #5C5C5C;
}

.bottom-footer a {
    color: #5C5C5C;
    justify-items: flex-end;
}

.sec-nav-top {
    top: 99px !important;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .button-arrow {
        position: relative;
        justify-content: center;
        padding-top: 5%;
    }

    .indicator {
        display: none;
    }

    /*--- Nav bar -----*/

    .topnav a:not(:first-child),
    .drpdown .dropbtn,
    .get-started {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .nav-right-menu {
        float: none;
    }

    .topnav {
        height: auto;
        padding-left: 5px;
        padding-right: 0;
        padding-top: 0;
        box-shadow: 0px 3px 7px rgba(0, 66, 155, 0.3), 0px 16px 20px rgba(0, 66, 155, 0.2);
    }

    .topnav a,
    .dropbtn {
        display: block;
        padding: 14px 16px;
    }

    .nav-items-list {
        display: block;
        justify-content: center;
    }

    .drpdown-content {
        height: auto;
    }

    .hover:hover {
        border-bottom: none
    }

    /*--------------------------------*/

    .topnav.responsive {
        position: relative;
        height: auto;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .drpdown {
        float: none;
    }

    .topnav.responsive .drpdown-content {
        position: relative;
    }


    .topnav.responsive .drpdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .topnav.responsive .get-started {
        float: none;
        display: flex;
    }

    .topnav.responsive .get-started-btn {
        float: none;
        display: block;
    }

    /*------------------------------------------------*/

    .big-title {
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: #010F41;
    }

    .medium-title {
        font-weight: 600;
        font-size: 28px;
        line-height: 60px;
    }

    .small-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
    }

    .sec-nav-top {
        top: 69px !important;
    }

/*-----------------------------
        ABOUT US
----------------------------*/

    .about-us-header {
        padding-top: 50px;
        width: 90%;
    }

    .about-us-header h2 {
        font-size: 36px;
    }
    .about-us-header p {
        font-size: 18px;
    }

    .about-us-box-content h2 {
        font-size: 28px;
    }

    .about-us-box-content p {
        padding-top: 0px;
        font-size: 16px;
        line-height: 25px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*--- Nav bar -----*/

    .topnav a:not(:first-child),
    .drpdown .dropbtn,
    .get-started {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .nav-right-menu {
        float: none;
    }

    .topnav {
        height: auto;
        padding-left: 5px;
        padding-right: 0;
        padding-top: 0;
        box-shadow: 0px 3px 7px rgba(0, 66, 155, 0.3), 0px 16px 20px rgba(0, 66, 155, 0.2);
    }

    .topnav a,
    .dropbtn {
        display: block;
        padding: 14px 16px;
    }

    .nav-items-list {
        display: block;
        justify-content: center;
    }

    .drpdown-content {
        height: auto;
    }

    .hover:hover {
        border-bottom: none
    }

    /*--------------------------------*/

    .topnav.responsive {
        position: relative;
        height: auto;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .drpdown {
        float: none;
    }

    .topnav.responsive .drpdown-content {
        position: relative;
    }


    .topnav.responsive .drpdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .topnav.responsive .get-started {
        float: none;
        display: flex;
    }

    .topnav.responsive .get-started-btn {
        float: none;
        display: block;
    }

    /*------------------------------------------------*/

    .about-us-header {
        padding-top: 50px;
        width: 80%;
    }

    .about-us-header h2 {
        font-size: 46px;
    }

    .about-us-box-content h2 {
        font-size: 28px;
        line-height: 35px;
    }

    .about-us-journey-right {
        padding: 5%;
    }

    .about-us-box-content p {
        padding-top: 25px;
        font-size: 15px;
        line-height: 30px;
    }

    .about-us-journey-right h2 {
        font-size: 45px;
    }

    .about-us-journey-right p {
        font-size: 15px;
    }

    .about-us-slide-img {
        padding-top: 0;
    }

    .button-arrow {
        position: relative;
    }

    .big-title {
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        color: #010F41;
    }

    .medium-title {
        font-weight: 600;
        font-size: 31px;
        line-height: 60px;
    }

    .small-title {
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
    }

    .sec-nav-top {
        top: 69px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-container {
        padding-right: 4%;
        padding-left: 4%;
        height: 100px;
    }

    .about-us-slide {
        padding-bottom: 7%;
    }

    .button-arrow {
        position: relative;
    }

    .big-title {
        font-weight: 800;
        font-size: 56px;
        line-height: 62px;
        color: #010F41;
    }

    .medium-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 70px;
    }

    .small-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .big-title {
        font-weight: 800;
        font-size: 56px;
        line-height: 62px;
        color: #010F41;
    }

    .medium-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 70px;
    }

    .small-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }
}

#secondary-nav {
    scroll-snap-type: x mandatory;
}
#secondary-nav::-webkit-scrollbar{
    display: none;
}

#secondary-nav a {
    scroll-snap-align: start;
}