<div class="topnav" id="myTopnav">
    <a class="h-100" href="./index.html"><img src="./assets/image/Agridata Logo 1.svg" alt="Agridata Logo" class="agridata-logo"></a>
    <a class="hover h-100 me-4" href="./about-us.html">About Us</a>
    <div class="drpdown me-4">
        <button class="dropbtn hover">Products
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="drpdown-content">
            <div class="nav-items-list h-100">
                <a class="mx-3" href="./index.html#invoicing">Invoicing</a>
                <a class="mx-3" href="./index.html#payment">Payments</a>
                <a class="mx-3" href="./index.html#report">Reports</a>
                <a class="mx-3" href="./index.html#customization">Customization</a>
                <a class="mx-3" href="./index.html#support">Support</a>
                <!-- <div class="mx-3">
                    <a class="" href="#">Invoicing
                        <div class="d-flex flex-column">
                            <img src="image/Icon pack Variants.png">
                            <p class="text-start">Create and send professional invoices</p>
                        </div>
                    </a>
                </div>                
                <div class="mx-3">
                    <a class="d-flex flex-column" href="#"><img src="image/Union.png">Financing<p>Easily get loan for your farm business</p></a>
                </div>
                <div class="mx-3">
                    <a class="d-flex flex-column" href="#"><img src="image/Union (1).png">Crowdfunding<p>Create and send professional invoices</p></a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- <a class="hover h-100" href="">Pricing</a> -->
    <div class="nav-right-menu">
        <!-- <div class="drpdown me-4">
            <button class="dropbtn hover">Select language
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="drpdown-content">
                <div class="items-list">
                    <a href="#">English</a>
                    <a href="#">Malay</a>
                    <a href="#">Cainis</a>
                </div>
            </div>
        </div>
        <a class="hover h-100" href="#news">Login</a> -->
        <div class="get-started h-100">
            <a class="get-started-btn" href="https://wa.me/+601165691998">CONTACT US</a>
        </div>
    </div>
    <div class="toggle">
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()"><i
                class="fa-solid fa-bars"></i></a>
    </div>
</div>