<nav class="navbar navbar-expand-lg nav-container">
    <div class="container-fluid sticky-top">
        <img src="./../../assets/image/Agridata Logo 1.svg" alt="Agridata Logo" class="agridata-logo navbar-brand">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="left-nav-menu navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Features
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <ul class="right-nav-menu navbar-nav mb-2 mb-lg-0">
                <li>
                    <select class="form-select" id="languages" name="languages">
                        <option value="en">English</option>
                        <option value="zh-CN">Chinese</option>
                        <option value="ms">Bahasa Melayu</option>
                    </select>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <button class="nav-button" type="button">Get Started Free</button>
                </li>
            </ul>
        </div>
    </div>
</nav>